<!doctype html>
<html lang="en" ng-app="myApp">
<% include header %>
   <body>
    <h1><%= title %></h1>
	  <h3> <strong>¿Qué es Madrid de Bolsillo?</strong></h3>
	<% include footer %>
  </body>  
</html>