<!doctype html>
<html lang="en" ng-app="myApp">
<% include header %>
   <body>
    <div class="centrador">
      <h1><%= title %></h1>
    </div>
    <div id="Contenedor1">
	    <h3> <strong>¿Qué es Madrid de Bolsillo?</strong></h3>
    </div>
	<% include footer %>
  </body>  
</html>