<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <div id="Contenedor1">
    <h1 class="admin"><strong>PÁGINA DEL ADMIN</strong> - YAIZA Y MARCOS</h1>
    <div class="json">
      <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="jsonFile" name="jsonFile" accept=".json">
        <button type="submit">Upload JSON</button>
      </form>
    </div>
  
    <div class="buttons">
      <a href="/xml" class="Boton">Marcadores XML</a>
      <a href="/json" class="Boton">Marcadores JSON</a>
    </div>
  </div>

  <a href="/" class="Volver">Volver a la página principal</a>

  <script>
    document.getElementById('uploadForm').addEventListener('submit', async (event) => {
      event.preventDefault();
      const fileInput = document.getElementById('jsonFile');
      const formData = new FormData();
      formData.append('jsonFile', fileInput.files[0]);

      const response = await fetch('/admin/upload-json', {
        method: 'POST',
        body: formData
      });

      if (response.ok) {
        alert('Marcadores añadidos correctamente a la BD');
      } else {
        alert('Error añadiendo los marcadores');
      }
    });
  </script>

</body>
</html>

<style>

  :root {
      --clr-primary: #14273e;
      --clr-secondary: #ffeba7;
      --bg-primary: #0d1a2d;
      --bg-secondary: #14273e;
      --text-primary: #ccc;
      --text-secondary: #0d1a2d;
    }
    
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    
    * {
      margin: 0;
      font: inherit;
    }
    
    html {
      color-scheme: dark;
    }
    
    body {
      font-family: 'Montserrat', sans-serif;
      min-height: 100vh;
      background-image: url('https://www.xtrafondos.com/wallpapers/atardecer-en-la-costa-10619.jpg');
      background-size: cover;
      background-position: center;
      color: var(--text-primary);
      padding: 1%;
    }

    /* Contenedor principal */
    #Contenedor1 {
    background: rgba(13, 26, 45, 0.5); /* Opacidad 0.5 = 50% */
    padding: 50px;
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    background-size: cover;
    background-position: center;
  }

    .json {
      position: absolute;
      color: #0d1a2d;
      top: 37%; 
      left: 39%; 
    }
    
    .admin {
      position: absolute;
      top: 20%; 
      left: 50%; 
      transform: translateX(-50%); 
      font-size: 36px; 
      color: transparent; 
      -webkit-text-stroke: 1px #ffeba7; 
    }
    
    /* volver boton */
    .Volver{
      padding: 0.8em 1.8em;
      border-radius: 8px;
      background-color: transparent;
      color:#ffeba7;
      border:2px solid #ffeba7;
      font-size: 16px;
      cursor: pointer;
      z-index: 1;
      transition: 0.3s;

      position: absolute; /* Cambiado a position: absolute */
      top: 70%; /* Centra verticalmente */
      left: 50%; /* Centra horizontalmente */
      transform: translate(-50%, -50%); /* Corrige la posición */
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    
    .Volver:before{
      content:'';
      width: 0;
      height: 300%;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: 0.5s ease;
      transform: translate(-50%,-50%) rotate(45deg);
      display: block;
      z-index: -1;
      background-color: #ffeba7;
    }
    .Volver:hover::before{
      width: 105%;
    }
    .Volver:hover{
      color:#111;
    }
    
    .buttons {
      margin-right: 3%;
      left: 100px;
      position: absolute;
      bottom: 20%; /* Ajusta la distancia desde la parte inferior */
      right: 70%; /* Ajusta la distancia desde la derecha */
      padding: 10px 20px; /* Ajusta el relleno del botón */
      border: none; /* Elimina el borde del botón */
      background-color: #ffeba7; /* Cambia el color de fondo del botón */
      color: var(--text-primary); /* Cambia el color del texto del botón */
      border-radius: 5px; /* Agrega bordes redondeados al botón */
      font-size: 16px; /* Ajusta el tamaño del texto */
      cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra al botón */
      transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
    }
    
    /* Cambia el color de fondo cuando el cursor está sobre el botón */
    .buttons:hover {
      background-color: var(--clr-secondary); 
      color: var(--text-secondary); 
    }
    
    /* Estilo del ícono dentro del botón */
    .buttons i {
      margin-right: 5px; /* Añade un pequeño margen a la derecha del ícono */
    }
    
  </style>
  
