<footer id="footer" class="container-fluid text-center" style="position: fixed; bottom: 0; width: 100%;">
  <a href="#" title="To Top" style="position: absolute; top: 10px; left: 10px;">
    <span class="glyphicon glyphicon-chevron-up"></span> Ir al inicio. 
  </a>
</footer>
