<!doctype html>
<html lang="en" ng-app="myApp">
<% include header %>
<body>
  <div class="titulo">
    <a id="h1" class="fa fa-map-location navbar-brand"> M€B</a>
    <h1>MADRID DE BOLSILLO</h1>
  <a id="h1" class="fa fa-map-location navbar-brand" > M€B</a>
  </div>

  <div id="Contenedor1">
    <div style="text-align: center;">
      <p><strong><%= title %></strong> es una plataforma que hace que explorar Madrid sea asequible y emocionante para todo el mundo. Ofrecemos una amplia gama de planes y actividades increíbles en la ciudad y alrededores, todos convenientemente categorizados para que puedas encontrar fácilmente lo que buscas. Ya sean experiencias gastronómicas, viajes y lugares increíbles, aventuras al aire libre, para hacer deporte y otros eventos culturales. <strong><%= title %></strong> te permite diferenciar entre planes asequibles y gratuitos, lo que facilita aún más la búsqueda de opciones económicas. Perfecta tanto para turistas como para locales, es un recurso increíble para cualquiera que busque actividades divertidas y asequibles para disfrutar con amigos o familiares.</p>
      <h5 style="color: #ffeba7;"><strong>¡Empieza ya a buscar los mejores planes de Madrid!</strong></h5>
    </div>
  
    <main id="main-content">
      <div id="circle-container">
        <div class="circle" data-category="Restauración"><i class="fas fa-utensils"></i></div>
        <div class="circle" data-category="Viajes"><i class="fas fa-plane"></i></div>
        <div class="circle" data-category="Naturaleza"><i class="fas fa-tree"></i></div>
        <div class="circle" data-category="Deportes"><i class="fas fa-futbol"></i></div>
        <div class="circle" data-category="Ocio"><i class="fas fa-gamepad"></i></div>
        <div class="circle" data-category="Gratis"><i class="fas fa-euro-sign"></i></div>
        <% if (user) { %>
          <div class="circle"><a href="/crear"><i class="fas fa-pencil-alt"></i></a></div>
        <% } %>
      </div>
    </main>
  
    <!-- MAPA -->
    
    <div id="map-container" style="position: relative; margin: 0 auto; width: 80%; border-radius: 10px; overflow: hidden;">
      <div id="mapid" style="height: 700px;"></div>
    </div>
  </div>

  <!-- JS - FILTRO CATEGORÍAS -->
  <script>
    let selectedCategory = null;

    function filterMarkersByCategory(category) {
      if (selectedCategory === category) {
        selectedCategory = null;
        fetchMarkers();
      } else {
        mymap.eachLayer(function (layer) {
          if (layer instanceof L.Marker) {
            mymap.removeLayer(layer);
          }
        });

        fetch('/api/markers')
          .then(response => response.json())
          .then(markers => {
            markers.forEach(marker => {
              if (category === 'Gratis' && marker.plan === 'gratis' || marker.category === category) {
                const customIcon = createCustomIcon(marker.category, marker.plan);
                L.marker([marker.latlng.lat, marker.latlng.lng], { icon: customIcon })
                  .addTo(mymap)
                  .bindPopup(createPopupContent(marker));
              }
            });
          })
          .catch(err => console.error(err));

        selectedCategory = category;
      }
    }

    document.querySelectorAll('.circle').forEach(circle => {
      circle.addEventListener('click', function () {
        const category = this.dataset.category;
        filterMarkersByCategory(category);
      });
    });

    function fetchMarkers() {
      fetch('/api/markers')
        .then(response => response.json())
        .then(markers => {
          markers.forEach(marker => {
            const customIcon = createCustomIcon(marker.category, marker.plan);
            L.marker([marker.latlng.lat, marker.latlng.lng], { icon: customIcon })
              .addTo(mymap)
              .bindPopup(createPopupContent(marker));
          });
        })
        .catch(err => console.error(err));
    }

    function createPopupContent(marker) {
    const precio = marker.precio === 0 ? 'Gratis' : `€${marker.precio.toFixed(2)}`;
    return `
        <div style="text-align: center;">
          <h3 style="margin: 0; color: #333;">${marker.title}</h3>
          <p style="font-size: 0.9em; color: #666;">${marker.info}</p>
          <img src="${marker.image}" alt="${marker.title}" style="width: 100%; max-width: 200px; height: auto; border-radius: 5px;">
          <p style="font-size: 0.9em; color: #666;">Precio aproximado: ${precio}</p>
          <a href="${marker.masInfo}" target="_blank">
            <button style="padding: 5px 10px; margin-top: 10px; background-color: #007bff; color: white; border: none; border-radius: 3px; cursor: pointer;">Más info</button>
          </a>
        </div>`;
}

  </script>

  <!-- JS - MAPA -->
  <script>
    var mymap = L.map('mapid').setView([40.41, -3.68], 13);

    const iconMapping = {
      'Restauración': { icon: 'fas fa-utensils', color: '#ef476f' },
      'Viajes': { icon: 'fas fa-plane', color: '#118ab2' },
      'Naturaleza': { icon: 'fas fa-tree', color: '#43aa8b' },
      'Deportes': { icon: 'fas fa-futbol', color: '#f9844a' },
      'Ocio': { icon: 'fas fa-gamepad', color: '#8338ec' },
      'sin asignar': { icon: 'fas fa-map-marker-alt', color: '#577590' }
    };

    function createCustomIcon(category, plan) {
      const { icon, color } = iconMapping[category] || iconMapping['sin asignar'];
      const boxShadowStyle = plan === 'gratis' ? 'box-shadow: 0 0 0 3.5px #ffd60a;' : '';
      const iconColorStyle = plan === 'gratis' ? `color: #ffd60a;` : '';
      return L.divIcon({
        html: `<div class="icon-background" style="background-color: ${color}; ${boxShadowStyle}"><i class="${icon}" style="${iconColorStyle} font-size: 1.5em;"></i></div>`,
        className: 'map-icon'
      });
    }

    fetchMarkers();

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors'
    }).addTo(mymap);
  </script>

	<!-- JS - CAMBIAR MAPA BASE -->
	<script>
		var baseMaps = {
			"OpenStreetMap": L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				attribution: '© OpenStreetMap contributors'
			}),
			"Google Maps": L.tileLayer('https://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
				maxZoom: 20,
				subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
			}),
			"CartoDB Voyager": L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png', {
				attribution: '&copy; <a href="https://carto.com/attributions">CARTO</a>'
			}),
			"CartoDB Dark": L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png', {
				attribution: '&copy; <a href="https://carto.com/attributions">CARTO</a>'
			}),
			//Para quien tenga MapBox que ponga su mapa
			"Mapbox": L.tileLayer('mapbox://styles/yaixitta/clb9k0p36006a14ntox4mlywi', {
				attribution: 'Map data &copy; <a href="https://www.mapbox.com/">Mapbox</a> contributors, ' +
				'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
				maxZoom: 18,
				id: 'mapbox/streets-v11',
				tileSize: 512,
				zoomOffset: -1,
				accessToken: 'your.mapbox.access.token'
			}),
			"Mapbox Satellite": L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
				attribution: 'Map data &copy; <a href="https://www.mapbox.com/">Mapbox</a> contributors, ' +
				'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
				maxZoom: 18,
				id: 'mapbox/satellite-v9',
				tileSize: 512,
				zoomOffset: -1,
				accessToken: 'your.mapbox.access.token'
			})
		};

		// Añadir control de capas al mapa
		L.control.layers(baseMaps).addTo(mymap);

    // Guardar la selección del mapa base
    var selectedBaseMap = localStorage.getItem('selectedBaseMap');

    if (selectedBaseMap) {
      baseMaps[selectedBaseMap].addTo(mymap);
    } else {
      baseMaps["OpenStreetMap"].addTo(mymap);
    }
    mymap.on('baselayerchange', function (event) {
      localStorage.setItem('selectedBaseMap', event.name);
    });

	</script>

  <!-- ESTILOS ICONOS -->
  <style>
    .map-icon {
      font-size: 1em;
      text-align: center;
    }

    .icon-background {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .map-icon i {
      color: white;
    }
  </style>

  <% include footer %>
</body>
</html>