:root {
--clr-primary: teal;
--clr-secondary: crimson;
--bg-primary: #0d1a2d;
--bg-secondary: #14273e;
--text-primary: #fff;
--text-secondary: #ccc;
}
*,
*::before,
*::after {
box-sizing: border-box;
}
* {
margin: 0;
font: inherit;
}

html {
color-scheme: dark;
}
body {
    font-family: system-ui, sans-serif;
    min-height: 100vh;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    padding: 1%;
}

/* CSS personalizado para los iconos de los planes */
.custom-div-icon {
    width: 80px;
    height: 80px;
    border-color: black;
    border-radius: 70%;
    text-align: center;
    line-height: 20px; 
    font-size: 24px; 
}

.fas {
    font-size: 40px; 
}
#markerR {
    color: rgb(255, 0, 0);
    font-size: 20px;
}
#markerV {
    color: rgb(0, 47, 255);
    font-size: 20px;
}
#markerN {
    color: rgb(0, 148, 32);
    font-size: 20px;
}
#markerD {
    color: rgb(255, 217, 0);
    font-size: 20px;
}
#markerO {
    color: rgb(132, 0, 255);
    font-size: 20px;
}
#markerOt {
    color: rgb(255, 0, 157);
    font-size: 20px;
}

.circle {
    width: 80px; /* Aumenta el tamaño del contenedor del círculo para dejar espacio para el icono */
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Asegura que el contenedor sea un círculo */
    border: 4px solid #ccc; /* Añade un borde para destacar el círculo */
    margin: 10px; /* Añade un espacio entre los círculos */
}

#main-content {
    display: flex;
    justify-content: center;
    height: 50%; /* Ajusta la altura según tus necesidades */
  }