body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.7;
	color: black;
	background-color: #1f2029;
}

/*
.R-icon {
    background-color: #ff0000; 
    color: #ffffff; 
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 50px; 
}
*/

/* CSS personalizado para los iconos de los planes */
.custom-div-icon {
    width: 40px;
    height: 40px;
    background-color: #ff0000;
    border-radius: 50%;
    text-align: center;
    line-height: 20px; /* Esto asegura que los iconos estén centrados verticalmente */
    font-size: 24px; /* Ajusta el tamaño de los iconos */
}

/* Estilos adicionales para los círculos */
.circle {
    width: 40px; /* Aumenta el tamaño del contenedor del círculo para dejar espacio para el icono */
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Asegura que el contenedor sea un círculo */
    border: 2px solid #ccc; /* Añade un borde para destacar el círculo */
    margin: 10px; /* Añade un espacio entre los círculos */
}
